@charset "utf-8";

body {
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;
}

header {
  text-align: center;
  grid-area: h;
}

main {
  width: 1100px;

  margin: auto;
  background-color: #ffc185;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
}

#container {
  display: grid;
  grid-template-areas:
    "h h h h h h "
    "n n n n n n "
    "a a a a a a "
    "f f f f f f ";

  grid-gap: 10px;
  padding: 10px;
 
}




h1 {
  color: darkslategray;
  text-transform: uppercase;
}

h3 {
  color: dimgray;
}




article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  grid-area: a;
  text-align: center;
  background-color: white;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  
}

article h1
{
    padding:1px;
}

article p{
    color:brown;
    font-weight: bolder;
}

#fizetesGomb {
    padding:5px;
    margin:5px;
}








nav {
  grid-area: n;
}


nav ul {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  grid-gap: 5px;
  padding: 0;
  list-style-type: none;
}

nav a {
  text-decoration: none;
  color: dimgray;
}

nav li {
  margin: 5px;
  background-color: white;
  border: 1px solid grey;
  border: 1px solid lightgrey;
  padding: 5px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}



footer {
  background-color: whitesmoke;
  grid-area: f;
}

table {
  padding:5px;
  border-bottom:1px solid grey; 
  border-spacing: 10px;
  text-align: left;
  width:100%;

}



